<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Free Bootstrap Admin Template : Binary Admin</title>
<!-- BOOTSTRAP STYLES-->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"
	rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="../static/css/font-awesome.css"
	th:href="@{/css/font-awesome.css}" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link href="../static/css/custom.css" th:href="@{/css/custom.css}"
	rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}"
	rel='stylesheet' type='text/css' />

<!--======================================  ANGULAR ================================================-->
<script src="../static/js/lib/angular.js" th:src="@{/js/lib/angular.js}"></script>
<!--================================================================================================-->

</head>
<body ng-app="myApp" ng-controller="InvoiceCreateController">
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">EInvoice System</a>
			</div>
			<div
				style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
				Last access : 30 May 2014 &nbsp; <a href="/logout"
					class="btn btn-danger square-btn-adjust">Logout</a>
			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li class="text-center">
                    	<img src="../static/img/find_user.png" th:src="@{/img/find_user.png}" class="user-image img-responsive"/>
					</li>	
                    <li>
                        <a  href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a  href="/service"><i class="fa fa-bars fa-3x"></i> Service</a>
                    </li>
                    <li  >
                        <a class="active-menu"  href="/invoice"><i class="fa fa-table fa-3x"></i> Invoice</a>
                    </li>
                    <li>
                        <a  href="/report"><i class="fa fa-edit fa-3x"></i> Report</a>
                    </li>
				   	<li>
                        <a  href="/chart"><i class="fa fa-bar-chart-o fa-3x"></i> Chart</a>
                    </li>	
                   	<li>
                        <a  href="/user/state"><i class="fa fa-user fa-3x"></i> User</a>
                    </li>
                </ul>

			</div>

		</nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h2>Create Invoice</h2>
						<!-- 						<h5>Welcome Jhon Deo , Love to see you back.</h5> -->
					</div>
				</div>
				<!-- /. ROW  -->
				<hr />
				<div class="row">
					<div class="col-md-12">
						<!-- Form Elements -->
						<div class="panel panel-default">
							<div class="panel-heading"><a href="/invoice">Back to list</a></div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<!-- 										<h3>Basic Form Examples</h3> -->
										<form role="form">
											<p class="help-block" style="color: red"
												ng-if="error.status != 0">{{error.data}}</p>
											<div class="form-group" ng-init="init()">
												<label>Select Service</label> <select class="form-control"
													ng-model="service"
													ng-options="s.serviceName for s in services">
												</select>
											</div>
											<div class="form-group">
												<label class="checkbox-inline"> <input
													type="checkbox" ng-model="service.monthly" disabled /> is
													monthly
												</label>
											</div>
											<div class="form-group">
												<label>Invoice No.</label> <input class="form-control"
													type="text" placeholder="PLease enter Invoice No."
													ng-model="invoiceNo" required />
											</div>
											<div class="form-group">
												<label>Customer Code</label> <input class="form-control"
													type="text" placeholder="PLease enter Customer Code"
													ng-model="customerCode" required />
											</div>
											<label>Amount Of Money</label>
											<div class="form-group input-group">
												<!-- 												<label>VAT</label> -->
												<span class="input-group-addon">$</span> <input
													class="form-control" type="number" ng-model="amountOfMoney" />
												<span class="input-group-addon">.00</span>
											</div>
											<label>VAT</label>
											<div class="form-group input-group">
												<!-- 												<label>VAT</label> -->
												<span class="input-group-addon">$</span> <input
													class="form-control" type="number" ng-model="vat" /> <span
													class="input-group-addon">.00</span>
											</div>
											<div class="form-group">
												<label>Invoice date</label> <input class="form-control"
													type="date" ng-model="createdDate" />
											</div>
											<button type="submit" class="btn btn-default"
												ng-click="create()">Submit Button</button>
											<button type="reset" class="btn btn-primary">Reset
												Button</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- End Form Elements -->
					</div>
				</div>
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="../static/js/jquery-1.10.2.js"
		th:src="@{/js/jquery-1.10.2.js}"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="../static/js/jquery.metisMenu.js"
		th:src="@{/js/jquery.metisMenu.js}"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
	<!--===========================================================================================================================-->
	<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
	<script src="../static/js/controllers/invoiceCreateController.js"
		th:src="@{/js/controllers/invoiceCreateController.js}"></script>
	<!--===========================================================================================================================-->

</body>
</html>
