<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
     <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
     <!-- MORRIS CHART STYLES-->
   
        <!-- CUSTOM STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' 
   		th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}"/>
     <!-- TABLE STYLES-->
    <link href="../static/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" 
    	th:href="@{/js/dataTables/dataTables.bootstrap.css}"/>
<!--======================================  ANGULAR ================================================-->	
	<script src="../static/js/lib/angular.js" th:src="@{/js/lib/angular.js}"></script>
<!--================================================================================================-->
</head>
<body ng-app="myApp" ng-controller="InvoiceController">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EInvoice System</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="../static/img/find_user.png" th:src="@{img/find_user.png}" class="user-image img-responsive"/>
					</li>
				
					
                    <li>
                        <a  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                   <li>
                        <a  href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                    </li>
                    <li>
                        <a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
                    </li>
				   	<li>
                        <a  href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                    </li>	
                    <li  >
                        <a class="active-menu"  href="/invoice"><i class="fa fa-table fa-3x"></i>Invoice</a>
                    </li>
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Invoice</h2>   
<!--                         <h5>Welcome Jhon Deo , Love to see you back. </h5> -->
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row" ng-init="getInvoice()">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <a href="/invoice/create">Create new invoice</a>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Invoice No.</th>
                                            <th>Customer Code</th>
                                            <th>Service</th>
                                            <th>Amount Of Money</th>
                                            <th>VAT</th>
                                            <th>Total money</th>
                                            <th>Charged period</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr ng-repeat="s in services" class="odd gradeX">
                                            <td>{{s.invoiceNo}}</td>
                                            <td>{{s.customerCode}}</td>
                                            <td>{{s.service.serviceName}}</td>
                                            <td class="center">{{s.amountOfMoney}}</td>
                                            <td class="center">{{s.vat}}</td>
                                            <td class="center">{{s.totalMoney}}</td>
                                            <td class="center" ng-if="s.service.monthly">monthly</td>
                                            <td class="center" ng-if="!s.service.monthly">none</td>
                                            <td>
                                            	<a href="/invoice/update/{{s.id}}">edit</a>
                                            	<a href="" ng-click="delete(s.id)">delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>           
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../static/js/jquery-1.10.2.js" th:src="@{/js/jquery-1.10.2.js}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../static/js/jquery.metisMenu.js" th:src="@{/js/jquery.metisMenu.js}"></script>
  
<!--===========================================================================================================================-->	
	<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
	<script src="../static/js/controllers/invoiceController.js" th:src="@{/js/controllers/invoiceController.js}"></script>
<!--===========================================================================================================================-->
	
	 <!-- DATA TABLE SCRIPTS -->
    <script src="../static/js/dataTables/jquery.dataTables.js" th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script src="../static/js/dataTables/dataTables.bootstrap.js" th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
            setTimeout(function(){ $('#dataTables-example').dataTable(); }, 3000);
        });
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
    
   
</body>
</html>
