<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
<p>Today's welcome message is:</p>
<form method="POST">
			<input type="text" name="serviceName" placeholder="Your Service" ng-model="name"/><br />
			<button type="submit" ng-click="senData()">Login</button> <br />
</form>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
	$scope.name = "";
	$scope.senData=function(){
		$http({
			method: 'POST',
			url: 'service/create',
			data: {'serviceName': $scope.name}
			})
		
	     .then(
	    function(response) {
	            // success
	           console.log(response);
	    }, 
	    function(response) { // optional
	            // failed
	    	console.log(response) 
	    }
	    ); 
	}
	
// }
}
);
</script>

</body>
</html>